<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/static/style.css">

    <!-- JS -->
    <script type="text/javascript" src="{{ url_for('static', filename = 'main.js') }}"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>

    <title>Dynamic Personas</title>

    <!-- favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico" />

  </head>
  <body>
    <div class="container">
        <div class="row header">
            <div class="col-12 col-md-6 text-center pt-50 align-self-center">
                <div class="page-7-pointer">
                  <h3><small>Hover me ↓</small></h3>
                </div>
                <div class="parallax-container" >
                  <div class="parallax-base">
                    <div class="layer-1"></div>
                  </div>
                </div>
            </div>
            <div class="col-12 col-md-6 text-center pt-50">
                <h1>What is K-Means</h1>
                <p>The objective of K-means is simple: group similar data points together and discover underlying patterns. To achieve this objective, K-means looks for a fixed number (k) of clusters in a dataset. After identifying k number, K-means algorithm allocates every data point to the nearest cluster, while keeping the centroids as small as possible. A centroid is the imaginary or real location representing the center of the cluster.</p>
                <small>Source: https://towardsdatascience.com/understanding-k-means-clustering-in-machine-learning-6a6e67336aa1</small>
                <br><br><br>
                <a href="/page-8">Click here to continue</a>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function cssParallax(cont, el, radiusVal){
          $(cont).mousemove(function(event) {
              
              cx = Math.ceil($(window).width() / 2.0);
              cy = Math.ceil($(window).height() / 2.0);
              dx = event.pageX - cx;
              dy = event.pageY - cy;
              
              tiltx = (dy / cy);
              tilty = - (dx / cx);
              radius = Math.sqrt(Math.pow(tiltx,2) + Math.pow(tilty,2));
              degree = (radius * radiusVal);

              $(el, cont).css('-webkit-transform','rotate3d(' + tiltx + ', ' + tilty + ', 0, ' + degree + 'deg)');
              $(el, cont).css('transform','rotate3d(' + tiltx + ', ' + tilty + ', 0, ' + degree + 'deg)');
          });
        }

        $(document).ready(function() {
          cssParallax('.parallax-container', '.parallax-base', 20);
          cssParallax('.parallax-container.first', '.parallax-base', 20);
        });
    </script>
  </body>
</html>