<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/static/style.css">

    <!-- JS -->
    <script type="text/javascript" src="{{ url_for('static', filename = 'main.js') }}"></script>

    <!-- favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico" />

    <title>Dynamic Personas</title>

  </head>
  <body>
    <div class="container">
        <div class="row header">
            <div class="col-12 col-md-6 offset-md-3 text-center pt-50">
                <h1>Knowing your target users is the key to a great user experience.</h1>
                <p>Nowadays, in the era where user behaviours are measured as data, understanding user behaviours can be done through dynamic personas.</p><small>Source: https://vlgux.com/blog/do-you-know-your-user-the-importance-of-user-research/</small>
                <br><br><br>
                <a href="/page-2">Click next to continue</a>

            </div>
        </div>
    </div>
  </body>
</html>