<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/static/style.css">

    <!-- JS -->
    <script type="text/javascript" src="{{ url_for('static', filename = 'main.js') }}"></script>

    <title>Dynamic Personas</title>

    <!-- favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico" />

  </head>
  <body>
    <div class="container">
        <div class="row header">
            <div class="col-12 col-md-10 offset-md-1 text-center pt-50 align-self-center">
                <h1>How K-Means works</h1>
                <p>To process the learning data, the K-means algorithm in data mining starts with a first group of randomly selected centroids, which are used as the beginning points for every cluster, and then performs iterative (repetitive) calculations to optimize the positions of the centroids. It halts creating and optimizing clusters when either: The centroids have stabilized or when the defined number of iterations has been achieved.</p>
                <small>Source: https://towardsdatascience.com/understanding-k-means-clustering-in-machine-learning-6a6e67336aa1</small>
                <br><br><br>
            </div>
        </div>
        <div class="row header">
            <div class="col-12 text-center">
                <h3><small>Scroll down ↓</small></h3>
                <br><br><br>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center page-8">

                <div class="section">
                  <div class="oop"></div>
                  <div class="fixed">
                    <img src="/static/img/page8-1.jpg" class="img-fluid">
                  </div>
                </div>
                <div class="section">
                  <div class="fixed">
                    <img src="/static/img/page8-2.jpg" class="img-fluid">
                  </div>
                </div>
                <div class="section">
                  <div class="fixed">
                    <img src="/static/img/page8-3.jpg" class="img-fluid">
                  </div>
                </div>
                <div class="section">
                  <div class="fixed">
                    <img src="/static/img/page8-4.jpg" class="img-fluid">
                  </div>
                </div>
                <div class="section">
                  <div class="fixed">
                    <img src="/static/img/page8-5.jpg" class="img-fluid">
                  </div>
                </div>
                <div class="section">
                  <div class="fixed">
                    <img src="/static/img/page8-6.jpg" class="img-fluid">
                  </div>
                </div>
            </div>
        </div>
        <div class="row btn-next">
            <div class="col-12 col-md-10 offset-md-1 text-center pt-50 align-self-center">
                <a href="/page-9">Click here to continue</a>
            </div>
        </div>
    </div>
  </body>
</html>