<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/static/style.css">

    <!-- JS -->
    <script type="text/javascript" src="{{ url_for('static', filename = 'main.js') }}"></script>

    <title>Dynamic Personas</title>

    <!-- favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico" />

  </head>
  <body>
    <div class="container">
        <div class="row header">
            <div class="col-12 col-md-6 offset-md-3 text-center pt-50">
                <h1>Summary</h1>
                <p>Activities from you and other users can move you within one persona or from one persona to another. Even if you are moving within one persona, it is very possible that you can move to another persona group. To help you and other users get the best user experience, it is important that ConneXion (or any other company) use dynamic user personas to tailor user experience that suits you and other users in every step of the way.</p>
                <br><br><br>
                <a href="/">Back to home</a>
            </div>
        </div>
    </div>
  </body>
</html>